extends ../layout

block content
  h1= book.title

  p= book.genre
  p= book.year

  include by_line
  a(href="../") &larr; Back
  | | 
  a(href="/books/" + book.id + "/update-book") Edit book
  | | 
  a(href="/books/" + book.id + "/delete") Delete book