extends ../layout

block content
  h1= title

  //-include ../error.pug

  form(action="/articles", method="post")
    p
        label(for='title') Title
    p
        input(name='title', id = 'title', type='text')
    p
        label(for='author') Author
    p
        input(name='author', id = 'author', type='text')
    p
        label(for='genre') Genre
    p
        input(name='genre', id = 'genre', type='text')
    p
        label(for='year') Year
    p
        input(name='year', id = 'year', type='text')
    p
        input(type='submit', value='Create New Book')
    p

      a.button(href='/') Cancel

    