//-extends ../layout

block content
  h1= title
  
  include errors
  
  form(action='/articles/' + article.id + '?_method=PUT', method='post')
    p
        label(for='title') Title
    p
        input(name='title', id = 'title', type='text', value = article.title)
    p
        label(for='author') Author
    p
        input(name='author', id = 'author', type='text', value = article.author)
    p
        label(for='genre') Genre
    p
        input(name='genre', id = 'genre', type='text', value = article.genre)
    p
        label(for='year') Year
    p
        input(name='year', id = 'year', type='text', value = article.year)
    p

        input(type='submit', value='Update Book')
    p


  form(action='/articles/' + article.id +'?_method=DELETE', method='post')
    p
      a(href='/articles', class='button') Cancel
    p

  input(type='submit', value='Delete Book')
 
  
 
   